<div class="rounded-lg border-[1px] border-muted bg-white p-6">
  <!-- User -->
  <div class="flex h-14 flex-row">
    <img
      class="h-14 w-14 flex-none rounded-full object-cover"
      [src]="feed.img"
      alt=""
    />

    <div class="ml-6 grow">
      <div class="flex h-1/2 flex-row">
        <span class="text-xl font-medium">{{ feed.username }}</span>
        <ng-icon
          class="ml-2 self-center text-medal"
          size="24"
          strokeWidth="1"
          name="hero-badge-check"
        ></ng-icon>
      </div>
      <div class="h-1/2 text-sm leading-7 opacity-50">
        {{ feed.postTime | date: "h:mm a, MMMM d" }}
      </div>
    </div>

    <div>
      <ng-icon
        class="text-light hover:cursor-pointer hover:text-highlight"
        size="38"
        strokeWidth="2"
        name="hero-dots-horizontal"
      ></ng-icon>
    </div>
  </div>

  <!-- Text -->
  <div class="mt-7 whitespace-pre-line text-sm">
    {{ feed.post }}
  </div>

  <!-- Picture -->
  <div class="scrollbar mt-5 flex flex-row gap-4 overflow-x-scroll">
    <ng-container *ngFor="let picture of feed.pictures">
      <img class="h-64 rounded-md object-cover" [src]="picture" alt="" />
    </ng-container>
  </div>

  <!-- Actions -->
  <div class="mt-9 flex flex-row justify-between">
    <div class="flex flex-row gap-11">
      <div
        class="flex flex-row text-light hover:cursor-pointer hover:text-highlight"
      >
        <ng-icon size="38" strokeWidth="1" name="hero-thumb-up"></ng-icon>
        <span class="ml-2 self-center text-xl font-medium leading-8">{{
          feed.thumbUps | number
        }}</span>
      </div>
      <div
        class="flex flex-row text-light hover:cursor-pointer hover:text-highlight"
      >
        <ng-icon size="38" strokeWidth="1" name="hero-annotation"></ng-icon>
        <span class="ml-2 self-center text-xl font-medium leading-8">{{
          feed.comments | number
        }}</span>
      </div>
      <div
        class="flex flex-row text-light hover:cursor-pointer hover:text-highlight"
      >
        <ng-icon size="38" strokeWidth="1" name="hero-share"></ng-icon>
        <span class="ml-2 self-center text-xl font-medium leading-8">{{
          feed.shares | number
        }}</span>
      </div>
    </div>

    <div class="flex flex-row">
      <ng-icon
        [ngClass]="feed.stared ? 'text-highlight' : 'text-light'"
        class="self-center text-light hover:cursor-pointer hover:text-highlight"
        size="38"
        strokeWidth="1"
        name="hero-star"
      ></ng-icon>
    </div>
  </div>
</div>
