<div class="flex flex-row gap-5">
  <img
    class="w-12 h-12 rounded-full object-cover flex-none"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Jeff_Bezos_at_Amazon_Spheres_Grand_Opening_in_Seattle_-_2018_%2839074799225%29_%28cropped%29.jpg/800px-Jeff_Bezos_at_Amazon_Spheres_Grand_Opening_in_Seattle_-_2018_%2839074799225%29_%28cropped%29.jpg"
    alt=""
  />

  <div class="grow flex flex-col">
    <span class="h-1/2 text-base font-medium leading-6">Jeff Brezos</span>
    <span class="h-1/2 text-xs opacity-50 leading-6">Amazon</span>
  </div>

  <div class="flex flex-row justify-center">
    <ng-icon
      class="self-center text-light hover:text-highlight hover:cursor-pointer"
      size="32"
      strokeWidth="1.5"
      name="hero-annotation"
    ></ng-icon>
  </div>
  <div class="flex flex-row justify-center">
    <ng-icon
      class="self-center text-light hover:text-highlight hover:cursor-pointer"
      size="32"
      strokeWidth="1.5"
      name="hero-dots-vertical"
    ></ng-icon>
  </div>
</div>
