<div class="border-muted border-[1px] bg-white mt-4 rounded-lg p-6">
  <!-- User -->
  <div class="flex flex-row h-14">
    <img
      class="h-14 w-14 rounded-full object-cover flex-none"
      [src]="feed.img"
      alt=""
    />

    <div class="ml-6 grow">
      <div class="flex flex-row h-1/2">
        <span class="font-medium text-xl">{{ feed.username }}</span>
        <ng-icon
          class="text-medal self-center ml-2"
          size="24"
          strokeWidth="1"
          name="hero-badge-check"
        ></ng-icon>
      </div>
      <div class="h-1/2 leading-7 text-sm opacity-50">
        {{ feed.postTime | date: "h:mm a, MMMM d" }}
      </div>
    </div>

    <div>
      <ng-icon
        class="text-light hover:cursor-pointer hover:text-highlight"
        size="38"
        strokeWidth="2"
        name="hero-dots-horizontal"
      ></ng-icon>
    </div>
  </div>

  <!-- Text -->
  <div class="mt-7 text-sm whitespace-pre-line">
    {{ feed.post }}
  </div>

  <!-- Picture -->
  <div class="mt-5 flex flex-row gap-4 overflow-x-scroll scrollbar">
    <ng-container *ngFor="let picture of feed.pictures">
      <img class="h-64 rounded-md object-cover" [src]="picture" alt="" />
    </ng-container>
  </div>

  <!-- Actions -->
  <div class="mt-9 flex flex-row justify-between">
    <div class="flex flex-row gap-11">
      <div
        class="flex flex-row text-light hover:text-highlight hover:cursor-pointer"
      >
        <ng-icon size="38" strokeWidth="1" name="hero-thumb-up"></ng-icon>
        <span class="font-medium text-xl ml-2 leading-8 self-center">{{
          feed.thumbUps | number
        }}</span>
      </div>
      <div
        class="flex flex-row text-light hover:text-highlight hover:cursor-pointer"
      >
        <ng-icon size="38" strokeWidth="1" name="hero-annotation"></ng-icon>
        <span class="font-medium text-xl ml-2 leading-8 self-center">{{
          feed.comments | number
        }}</span>
      </div>
      <div
        class="flex flex-row text-light hover:text-highlight hover:cursor-pointer"
      >
        <ng-icon size="38" strokeWidth="1" name="hero-share"></ng-icon>
        <span class="font-medium text-xl ml-2 leading-8 self-center">{{
          feed.shares | number
        }}</span>
      </div>
    </div>

    <div class="flex flex-row">
      <ng-icon
        [ngClass]="feed.stared ? 'text-highlight' : 'text-light'"
        class="text-light hover:text-highlight hover:cursor-pointer self-center"
        size="38"
        strokeWidth="1"
        name="hero-star"
      ></ng-icon>
    </div>
  </div>
</div>
