<div class="rounded-lg border border-muted bg-white p-6">
  <!-- Stories -->
  <div>
    <span class="text-xl font-semibold">Stories</span>

    <div class="mt-7 flex flex-row justify-start gap-5">
      <div
        class="flex h-14 w-14 flex-row justify-center rounded-full bg-highlight hover:cursor-pointer hover:shadow-button 2xl:h-16 2xl:w-16"
      >
        <ng-icon
          class="self-center text-white"
          size="30"
          strokeWidth="2"
          name="hero-plus"
        ></ng-icon>
      </div>

      <div
        class="flex h-14 w-14 flex-row justify-center rounded-full border-2 border-highlight hover:cursor-pointer hover:shadow-button 2xl:h-16 2xl:w-16"
      >
        <img
          class="h-11 w-11 self-center rounded-full object-cover 2xl:h-12 2xl:w-12"
          src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
          alt=""
        />
      </div>
      <div
        class="flex h-14 w-14 flex-row justify-center rounded-full border-2 border-highlight hover:cursor-pointer hover:shadow-button 2xl:h-16 2xl:w-16"
      >
        <img
          class="h-11 w-11 self-center rounded-full object-cover 2xl:h-12 2xl:w-12"
          src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
          alt=""
        />
      </div>
      <div
        class="hidden h-14 w-14 flex-row justify-center rounded-full border-2 border-highlight hover:cursor-pointer hover:shadow-button 2xl:flex 2xl:h-16 2xl:w-16"
      >
        <img
          class="h-11 w-11 self-center rounded-full object-cover 2xl:h-12 2xl:w-12"
          src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <!-- Upcoming events -->
  <div class="mt-12">
    <div class="flex flex-row justify-between">
      <span class="text-xl font-semibold">Upcoming events</span>
      <a class="text-base text-highlight" href="#">All</a>
    </div>
    <div class="mt-7">
      <img
        class="h-36 w-full object-cover"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Googleplex_HQ_%28cropped%29.jpg/1280px-Googleplex_HQ_%28cropped%29.jpg"
        alt=""
      />
      <span class="mt-6 block text-base font-medium"
        >Google open meetup - Pixel</span
      >
      <span class="text-xs opacity-50">3:10 PM, Today</span>
    </div>
  </div>

  <!-- Friend requests -->
  <div class="mt-12">
    <div class="flex flex-row justify-between">
      <span class="text-xl font-semibold">Friend requests</span>
      <a class="text-base text-highlight" href="#">All</a>
    </div>

    <div class="mt-7 flex flex-col justify-between gap-6">
      <app-friend-request></app-friend-request>
      <app-friend-request></app-friend-request>
      <app-friend-request></app-friend-request>
    </div>
  </div>
</div>
