<div class="flex flex-col">
  <div class="flex flex-row justify-between">
    <!-- Avatar -->
    <div class="flex flex-row">
      <img
        class="h-11 w-11 rounded-full object-cover"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Jeff_Bezos_at_Amazon_Spheres_Grand_Opening_in_Seattle_-_2018_%2839074799225%29_%28cropped%29.jpg/800px-Jeff_Bezos_at_Amazon_Spheres_Grand_Opening_in_Seattle_-_2018_%2839074799225%29_%28cropped%29.jpg"
        alt=""
      />
      <div class="ml-4 flex flex-col">
        <span class="text-base font-semibold">Gill Eastwood</span>
        <span class="text-sm text-light">8:15 PM, yesterday</span>
      </div>
    </div>
    <!-- Action -->
    <div class="flex flex-col justify-between">
      <div class="flex flex-row justify-center gap-2 text-light">
        <ng-icon class="self-center" size="18" name="hero-thumb-up"></ng-icon>
        <span class="self-center text-sm">931</span>
      </div>
      <a class="self-end text-sm text-highlight" href="#">Reply</a>
    </div>
  </div>
  <p class="mt-5 text-sm">
    Elon, it was amazing! Every single word of your brilliant speech was
    fulfilled of inspiration
  </p>
</div>
