<div class="min-h-screen bg-[#F6F6F9] p-2 sm:p-10 md:pb-20">
  <!-- Navigator -->
  <div>
    <app-navbar [navbarItems]="navbarItems"></app-navbar>
  </div>

  <div class="mt-8 flex flex-row">
    <div class="grow">
      <!-- Create a post -->
      <app-create-post></app-create-post>

      <!-- Feeds -->
      <div class="mt-6 flex flex-col gap-6">
        <ng-container *ngFor="let feed of feeds">
          <div class="rounded-lg border border-muted bg-white p-6">
            <app-feed-card [feed]="feed"></app-feed-card>
          </div>
          <div class="rounded-lg border border-muted bg-white p-6">
            <app-feed-card [feed]="feed"></app-feed-card>
          </div>
          <div class="rounded-lg border border-muted bg-white p-6">
            <app-feed-card [feed]="feed"></app-feed-card>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Stories, Events, Requests -->
    <div class="sticky top-6 ml-6 hidden h-min flex-none xl:block">
      <app-story-event-request></app-story-event-request>
    </div>
  </div>
</div>
