<!-- Navigator -->
<div>
  <app-navbar [navbarItems]="navbarItems"></app-navbar>
</div>

<div class="mt-8 flex flex-row">
  <div class="grow">
    <!-- Create a post -->
    <app-create-post></app-create-post>

    <!-- Feeds -->
    <div>
      <ng-container *ngFor="let feed of feeds">
        <app-feed-card [feed]="feed"></app-feed-card>
      </ng-container>
    </div>
  </div>

  <!-- Stories, Events, Requests -->
  <div class="sticky top-6 ml-6 flex-none h-min">
    <app-story-event-request></app-story-event-request>
  </div>
</div>
