<div class="flex h-8 flex-row">
  <!-- Internal link -->
  <a
    *ngIf="!external"
    [routerLink]="href"
    class="flex h-full flex-grow flex-row gap-4 opacity-70 hover:cursor-pointer hover:opacity-100"
    routerLinkActive="font-bold opacity-100"
  >
    <ng-icon
      [name]="icon"
      size="26"
      strokeWidth="1"
      class="flex-none self-center"
    ></ng-icon>
    <div
      class="col-span-4 h-8 min-w-[120px] grow text-lg leading-8"
      [ngClass]="img ? 'opacity-70 hover:opacity-100' : 'opacity-100'"
    >
      {{ text }}
    </div>
  </a>

  <!-- External link -->
  <a
    *ngIf="external"
    [href]="href"
    target="_blank"
    class="flex h-full flex-grow flex-row gap-4 hover:cursor-pointer hover:opacity-100"
  >
    <img class="h-5 w-5 self-center" [src]="img" alt="" />
    <div
      class="col-span-4 h-8 min-w-[120px] grow text-lg leading-8 opacity-70 hover:opacity-100"
    >
      {{ text }}
    </div>
  </a>

  <div class="flex w-7 flex-none flex-row justify-center">
    <ng-icon
      *ngIf="showOptions"
      name="hero-dots-horizontal"
      size="28"
      strokeWidth="3"
      class="self-center text-light"
    ></ng-icon>
    <div
      *ngIf="badgeNumber"
      class="flex h-5 w-5 flex-row justify-center self-center rounded-full bg-red-500"
    >
      <span class="text-sm leading-5 text-white">{{ badgeNumber }}</span>
    </div>
  </div>
</div>
