<div class="flex w-full flex-col gap-14 p-7">
  <div class="flex flex-row gap-4">
    <p class="max-w-fit rounded-2xl bg-[#F4F4F4] p-6 text-base">
      Hey! What you thing bout our Starship presentation?
    </p>
    <span class="mt-2 text-base opacity-50">22:01</span>
  </div>

  <div class="flex flex-row justify-end gap-4">
    <ng-icon
      class="mt-2 opacity-50"
      size="20"
      strokeWidth="1"
      name="hero-check"
    ></ng-icon>
    <span class="mt-2 text-base opacity-50">22:01</span>
    <p class="max-w-fit rounded-2xl bg-[#E3EFFF] p-6 text-base">
      Hey! What you thing bout our Starship presentation?
    </p>
  </div>

  <div class="flex flex-row gap-4">
    <p class="max-w-fit rounded-2xl bg-[#F4F4F4] p-6 text-base">
      <img
        class="max-w-xs"
        src="https://www.clipartmax.com/png/full/44-443968_harvey-ball-clip-art.png"
        alt=""
      />
    </p>
    <span class="mt-2 text-base opacity-50">22:01</span>
  </div>

  <div class="flex flex-row justify-end gap-4">
    <ng-icon
      class="mt-2 opacity-50"
      size="20"
      strokeWidth="1"
      name="hero-check"
    ></ng-icon>
    <span class="mt-2 text-base opacity-50">22:01</span>
    <p class="max-w-fit rounded-2xl bg-[#E3EFFF] p-6 text-base">
      Hey! What you thing bout our Starship presentation?
    </p>
  </div>

  <div class="flex flex-row gap-4">
    <p class="max-w-fit rounded-2xl bg-[#F4F4F4] p-6 text-base">
      Hey! What you thing bout our Starship presentation?
    </p>
    <span class="mt-2 text-base opacity-50">22:01</span>
  </div>

  <div class="flex flex-row justify-end gap-4">
    <ng-icon
      class="mt-2 opacity-50"
      size="20"
      strokeWidth="1"
      name="hero-check"
    ></ng-icon>
    <span class="mt-2 text-base opacity-50">22:01</span>
    <p class="max-w-fit rounded-2xl bg-[#E3EFFF] p-6 text-base">
      Hey! What you thing bout our Starship presentation?
    </p>
  </div>
</div>
