<div
  class="flex h-20 flex-row justify-between gap-8 rounded-lg border border-muted bg-white px-10 py-4 text-highlight shadow-small"
>
  <div>
    <span class="block text-center text-lg font-semibold">739k</span>
    <span class="block text-center text-sm font-light">likes</span>
  </div>
  <div>
    <span class="block text-center text-lg font-semibold">739k</span>
    <span class="block text-center text-sm font-light">followers</span>
  </div>
  <div>
    <span class="block text-center text-lg font-semibold">739k</span>
    <span class="block text-center text-sm font-light">friends</span>
  </div>
  <div>
    <span class="block text-center text-lg font-semibold">739k</span>
    <span class="block text-center text-sm font-light">posts</span>
  </div>
</div>
