<div
  class="flex h-20 flex-row rounded-lg border border-muted bg-white px-6 py-4 shadow-small"
>
  <img
    class="h-12 w-12 flex-none rounded-full object-cover"
    src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Sergey_Brin_cropped.jpg"
    alt=""
  />

  <input
    class="mx-3 h-12 grow p-3 text-base focus:outline-none"
    placeholder="What's on your mind?"
    type="text"
  />

  <div class="mr-6 flex flex-row justify-between gap-3">
    <ng-icon
      class="self-center text-light hover:cursor-pointer hover:text-highlight"
      size="30"
      strokeWidth="1.5"
      name="hero-photograph"
    ></ng-icon>
    <ng-icon
      class="self-center text-light hover:cursor-pointer hover:text-highlight"
      size="30"
      strokeWidth="1.5"
      name="hero-user"
    ></ng-icon>
    <ng-icon
      class="self-center text-light hover:cursor-pointer hover:text-highlight"
      size="30"
      strokeWidth="1.5"
      name="hero-emoji-happy"
    ></ng-icon>
  </div>

  <div class="flex w-20 flex-row justify-center border-l border-muted">
    <ng-icon
      class="self-center text-highlight hover:cursor-pointer"
      size="30"
      strokeWidth="1.5"
      name="hero-camera"
    ></ng-icon>
  </div>

  <div class="flex w-14 flex-row justify-end border-l border-muted">
    <ng-icon
      class="self-center text-highlight hover:cursor-pointer"
      size="30"
      strokeWidth="1.5"
      name="hero-video-camera"
    ></ng-icon>
  </div>
</div>
