<div class="border-muted border-[1px] rounded-lg bg-white p-6">
  <!-- Stories -->
  <div>
    <span class="font-semibold text-xl">Stories</span>

    <div class="flex flex-row justify-between gap-5 mt-7">
      <div
        class="w-16 h-16 bg-highlight rounded-full flex flex-row justify-center hover:cursor-pointer hover:shadow-button"
      >
        <ng-icon
          class="text-white self-center"
          size="30"
          strokeWidth="2"
          name="hero-plus"
        ></ng-icon>
      </div>

      <div
        class="w-16 h-16 border-2 border-highlight rounded-full flex flex-row justify-center hover:cursor-pointer hover:shadow-button"
      >
        <img
          class="w-12 h-12 rounded-full object-cover self-center"
          src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
          alt=""
        />
      </div>
      <div
        class="w-16 h-16 border-2 border-highlight rounded-full flex flex-row justify-center hover:cursor-pointer hover:shadow-button"
      >
        <img
          class="w-12 h-12 rounded-full object-cover self-center"
          src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
          alt=""
        />
      </div>
      <div
        class="w-16 h-16 border-2 border-highlight rounded-full flex flex-row justify-center hover:cursor-pointer hover:shadow-button"
      >
        <img
          class="w-12 h-12 rounded-full object-cover self-center"
          src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <!-- Upcoming events -->
  <div class="mt-12">
    <div class="flex flex-row justify-between">
      <span class="text-xl font-semibold">Upcoming events</span>
      <a class="text-highlight text-base" href="#">All</a>
    </div>
    <div class="mt-7">
      <img
        class="h-36 w-full object-cover"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Googleplex_HQ_%28cropped%29.jpg/1280px-Googleplex_HQ_%28cropped%29.jpg"
        alt=""
      />
      <span class="mt-6 font-medium text-base block"
        >Google open meetup - Pixel</span
      >
      <span class="text-xs opacity-50">3:10 PM, Today</span>
    </div>
  </div>

  <!-- Friend requests -->
  <div class="mt-12">
    <div class="flex flex-row justify-between">
      <span class="text-xl font-semibold">Friend requests</span>
      <a class="text-highlight text-base" href="#">All</a>
    </div>

    <div class="flex flex-col gap-6 justify-between mt-7">
      <app-friend-request></app-friend-request>
      <app-friend-request></app-friend-request>
      <app-friend-request></app-friend-request>
    </div>
  </div>
</div>
